<div class="container">
  <h3 mat-dialog-title> {{ dialogHeading }} </h3>

  <form class="mat-dialog-content" #formControl="ngForm">

    <div class="form">
        <mat-form-field>
            <mat-label>Select Shopping Items</mat-label>
            <mat-select class="form-control" [(ngModel)]="selectedShoppingItem" name="shoppingItem" multiple>
              <mat-option *ngFor="let shoppingItem of shoppingList" [value]="shoppingItem">{{shoppingItem}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
            <mat-label>Meals</mat-label>
          <mat-select [(ngModel)]="comboBoxSeletedValue" [(ngModel)]="selectedMeals"
            class="form-control" name="meals">
            <mat-option *ngFor="let meal of mealList" [value]="meal">
              {{meal}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field>
            <mat-label>Select Ancillary Services</mat-label>
            <mat-select class="form-control"  [(ngModel)]="selectedAncItem" name ="ancItem" multiple>
              <mat-option *ngFor="let ancItem of ancillaryList" [value]="ancItem">{{ancItem}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
  </form>
  <div mat-dialog-actions>
    <button mat-button [disabled]="!formControl.valid" (click)= "addResult()"
            [mat-dialog-close]="result">Modify</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
