
table {
  width: 100%;
  margin-top: 5%;
}

.mat-header-cell {
  font-weight: bold;
  color: #310b03;
  font-size: 13px;
}

.mat-column-contents {
  border-left: 1px solid #310b03;
  border-right: 1px solid #310b03;
  border-top: 1px solid #310b03;
  border-bottom: 1px solid #310b03;
  align-self: stretch;
  text-align: center;
  max-width: 64px;
  font-size: 13px;
  font-weight: bold;
  color: #310b03;
}

.mat-column-details {
  border-right: 1px solid #310b03;
  border-top: 1px solid #310b03;
  border-bottom: 1px solid #310b03;
  align-self: stretch;
  text-align: center;
  font-size: 15px;
}